<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://kit.fontawesome.com/c44dbc2ee4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <link rel="stylesheet" href="./css/style.css">
<script src="./js/script.js"></script>

<!-- <script src="script.js"></script> -->

</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>

        <nav class="navbar">
            <a href="#home" style="--i:1">Home</a>
            <a href="#about" style="--i:2">About</a>
            <a href="#skills" style="--i:3">Skills</a>
            <a href="#portfolio" style="--i:4">Portfolio</a>
            <a href="#contact" style="--i:5">Contact</a>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's Me ,</h3>
            <h1>Hari Balajee </h1>
            <h3>And I'm a  <span class="text"></span><span class="typed-cursor" aria-hidden="true"></span></h3>
            <p>CSE Student. Proficient in Power BI, Tableau, SQL Server. 
                Experienced in MERN stack. 
                <br>Passionate about tech exploration, practical projects, and 
                continuous learning. </p>
            <div class="home-sic">
               
                <a href="https://www.instagram.com/harikrish_06?igsh=MW9yazdreWxiNzYzZg==" style="--i:7"><i class="fa-brands fa-instagram fa-beat-fade"></i></a>
                <a href="#" style="--i:8"><i class="fa-brands fa-whatsapp fa-beat-fade"></i></a>
                
            </div>
            <a href="#" class="btn">More About Me</a>
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-img">
            <img src="" alt="">
        </div>
        <div class="about-text">
            <h2>About <span>Me</span></h2>
            <h4>MERN Stack Developer & Data Analyst</h4>
            <p>In my tech journey, I've excelled in both the MERN stack and data analytics realms. From mastering web development with MERN (MongoDB, Express.js, React, Node.js) to honing my skills as a data analyst,
                 I've achieved a solid foundation in both domains. 
                My expertise in these areas is evidenced by my hands-on projects and educational pursuits, reflecting a commitment to excellence in both MERN stack development and data analysis.
            </p>

            <a href="#" class="btn">More About Me</a>
        </div>
    </section>

    <section>
        <div class="services" id="services">
            <div class="container">
                <h1 class="sub-title">My <span>Services</span></h1>
                <div class="services-list">
                    <div>
                        <i class="fa-solid fa-code fa-beat" style="color: #00eeff;"></i>
                        <h2>Web Developing</h2>
                        <p>I specialize in MERN stack development, proficient in MongoDB, Express.js, React, and Node.js. 
                            My web projects, like the Fresh Beauty Salon Website and the Automated Accommodation Sharing System, 
                            highlight my expertise in crafting dynamic web applications.</p>
                        <a href="#" class="read">Read More</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-crop-simple fa-beat" style="color: #00eeff;"></i>
                        <h2>Data Analyst</h2>
                        <p>I specialize in data analysis, proficient in extracting insights from complex datasets using tools like Python,
                             SQL, Power BI, Tableau, Microsoft SQL Server, Pandas DataFrame, and Matplotlib. 
                             My expertise in this domain enables me to deliver impactful solutions and drive business success through informed decision-making.</p>
                        <a href="#" class="read">Read More</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-app-store fa-beat" style="color: #00eeff;"></i>
                        <h2>Problem Solving</h2>
                        <p>I excel in problem-solving, demonstrated by my attainment of gold badges in both Java and Python on HackerRank. 
                            Furthermore, I have a passion for teaching, having shared my expertise with numerous students, contributing to their learning and development.</p>
                        <a href="#" class="read">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h1 class="sub-title">My <span>Skills</span></h1>
    <section>
        <div class="container1" id="skills">
            <h1 class="heading1">Technical Skills</h1>
            <div class="Technical-bars">
                <div class="bar"><i style="color: #c95d2e;" class="fa-brands fa-html5"></i>
                    <div class="info">
                        <span>HTML</span>
                    </div>
                    <div class="progress-line html">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color: #147bbc;" class="fa-brands fa-css3-alt"></i>
                    <div class="info">
                        <span>CSS</span>
                    </div>
                    <div class="progress-line css">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color: #b0bc1e;" class="fa-brands fa-square-js"></i>
                    <div class="info">
                        <span>JavaScript</span>
                    </div>
                    <div class="progress-line javascript">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color: #c32ec9;" class="fa-brands fa-python"></i>
                    <div class="info">
                        <span>Python</span>
                    </div>
                    <div class="progress-line python">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color: #69bcbc;" class="fa-brands fa-react"></i>
                    <div class="info">
                        <span>React</span>
                    </div>
                    <div class="progress-line react">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container1">
            <h1 class="heading1">Professional Skills</h1>
            <div class="radial-bars">
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">90%</div>
                <div class="test">Creativity</div>
            </div>
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">65%</div>
                <div class="test">Communication</div>
            </div>
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-3" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">75%</div>
                <div class="test">Problem Solving</div>
            </div>
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-4" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">80%</div>
                <div class="test">Teamwork</div>
            </div>
            </div>
        </div>
    </section>

    <section>
        <div id="portfolio" id="project">
            <div class="main-text">
              

                <div class="portfolio-content">
                    <div class="row">
                        
                        <div class="layer">
                            <h5>UI/UX Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi id atque in tempora excepturi eaque quaerat quisquam accusantium provident molestias?</p>
                            <a href="#"><i class="fa-solid fa-up-right-from-square fa-beat"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="layer">
                            <h5>UI/UX Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi id atque in tempora excepturi eaque quaerat quisquam accusantium provident molestias?</p>
                            <a href="#"><i class="fa-solid fa-up-right-from-square fa-beat"></i></a>
                        </div>
                    </div>
                    <div class="row">
                       
                        <div class="layer">
                            <h5>UI/UX Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi id atque in tempora excepturi eaque quaerat quisquam accusantium provident molestias?</p>
                            <a href="#"><i class="fa-solid fa-up-right-from-square fa-beat"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="contact-text">
            <h2>Contact <span>Me</span></h2>
            <h4>Let's work Together</h4>
            <p>I am a MERN stack developer and data analyst, continuously enhancing my skills. I possess strong problem-solving abilities in Python and Java and have conducted classes for students on MERN stack, Python, and Java. Additionally, I am currently learning Spring frameworks.</p>
            <div class="contact-list">
                <li><i class="fa-sharp fa-solid fa-paper-plane"></i> haritrance28@gmail.com</li>
                <li><i class="fa-sharp fa-solid fa-phone"></i> 8754797522</li>
            </div>
            <div class="contact-icons">
                
                
                <a href="https://www.instagram.com/harikrish_06?igsh=MW9yazdreWxiNzYzZg=="><i class="fa-brands fa-instagram fa-beat-fade"></i></a>
                <a href="https://www.linkedin.com/in/hari-balajee-k-944232235/?trk=opento_sprofile_details"><i class="fa-brands fa-linkedin fa-shake"></i></a>
            </div>
        </div>
        <script type="text/javascript">
        
            $(document).ready(function(){
    
                $( "#form1" ).submit(function(event) {
                    event.preventDefault();
    
                    $.ajax({
                        type: 'POST',
                        url: '/',
                        data: $('#form1').serialize(),
                        dataType: "json",
                        success: function(response){
                            //alert("a");
                            //console.log(response.Success);
                            $('#form1')[0].reset();
    
                            document.getElementById("check").innerHTML=response.Success;
                                 //ADD THIS CODE
                                 setTimeout(function(){
                                     document.getElementById("check").innerHTML="";
                                 },3000);
                                 if (response.Success=="You are regestered,You can login now.") {
                                     document.getElementById("aa").click();
                                 };
                             },
                             error: function() {
                             }
                         })
                });
            });
    
          </script> 
        <div  class="contact-form">
            <form action="" id="form1" method="post">
                <input name = "name" type="" placeholder="Enter Your Name" required>
                <input name="email" type="email" placeholder="Enter Your Email" required>

                <input name="subject" type="" placeholder="Enter Your Subject">
                <textarea name="area" id="" cols="40" rows="10" placeholder="
                Enter Your Message"></textarea>
                <input type="submit" value="submit" class="send">
            </form>
        </div>
    </section>

    <div class="last-text">
        <p>Developed by Hari Balajee</p>
    </div>
    <a href="#" class="top"><i class="fa-solid fa-arrow-up fa-beat-fade"></i></a>


    
</body>
</html>